.avatar{
    margin: 0 auto;
    width: 90px;
    height: auto;
}


.validaciones{

 margin: 0 auto;
 color: red;
 font-size: small;
 padding-left: 5%;
 
}

.contenedor{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.contenedor-registro{
   width: 50%;
   margin: 0 auto;
}

.contenedor-recupera{
    width: 50%;
    margin: 0 auto;
}



