<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color='primary' (click)="goToHome()">Regresar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-avatar class="avatar"> 
      <img src="../../assets/imagenes/usuario.png" alt="logo" class="logo">
    </ion-avatar>

    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
      <ion-item>
        <ion-input 
        label="Email" 
        formControlName="email" 
        type="email" 
        labelPlacement="floating" 
        placeholder="Email"
        ></ion-input>
      </ion-item>
      <div class="validaciones">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div *ngIf="
          (loginForm.get('email')?.hasError(validation.type) && 
          loginForm.get('email')?.dirty)
          ">
          <ion-icon name="close-circle-outline" size="medium"></ion-icon>
          {{validation.message}}</div>
        </ng-container>
      </div>
      <ion-item>
        <ion-input id="password"
        label="Contraseña" 
        formControlName="password" 
        type="password" 
        placeholder="Contraseña" 
        labelPlacement="floating"
        maxlength="10"
        ></ion-input>
      </ion-item>
      <div class="validaciones">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div *ngIf="
          (loginForm.get('password')?.hasError(validation.type) && 
          loginForm.get('password')?.dirty) 
          ">
          <ion-icon name="close-circle-outline" size="medium"></ion-icon>
          {{validation.message}}</div>
        </ng-container>
      </div>
      <ion-button type="submit" [disabled]="!loginForm.valid" shape="round" expand="full" id="open-toast">Ingresar</ion-button>
    </form>
    <div *ngIf="!loginPermiso">      
        <ion-toast trigger="open-toast" message="{{loginMessage}}" [duration]="3000" icon="person-outline"></ion-toast>
    </div>
</ion-content>
