<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color='primary' (click)="goToHome()">Regresar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-avatar class="avatar"> 
      <img src="../../assets/imagenes/usuario.png" alt="logo" class="logo">
    </ion-avatar>

    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
      <ion-item>
        <ion-input 
        label="Email" 
        formControlName="email" 
        type="email" 
        labelPlacement="floating" 
        placeholder="Email"
        ></ion-input>
      </ion-item>
      <div class="validaciones">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div *ngIf="
          (loginForm.get('email')?.hasError(validation.type) && 
          loginForm.get('email')?.dirty)
          ">
          <ion-icon name="close-circle-outline" size="medium"></ion-icon>
          {{validation.message}}</div>
        </ng-container>
      </div>
      <ion-item>
        <ion-input id="password"
        label="Contraseña" 
        formControlName="password" 
        type="password" 
        placeholder="Contraseña" 
        labelPlacement="floating"
        maxlength="10"
        ></ion-input>
      </ion-item>
      <div class="validaciones">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div *ngIf="
          (loginForm.get('password')?.hasError(validation.type) && 
          loginForm.get('password')?.dirty) 
          ">
          <ion-icon name="close-circle-outline" size="medium"></ion-icon>
          {{validation.message}}</div>
        </ng-container>
      </div>
      <ion-button type="submit" [disabled]="!loginForm.valid" shape="round" color="success" expand="full" id="open-toast">Ingresar</ion-button>
    </form>
    <div class="contenedor">
      <div class="contenedor-recupera">
        <ion-button shape="round" color="danger" expand="full" id="recuperaPass">Recuperar Contraseña</ion-button>
     <!--   <ion-modal trigger="recuperaPass" (willDismiss)="onWillDismiss($event)">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="cancel()">Cancel</ion-button>
                </ion-buttons>
                <ion-title>Hola</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <ion-item>
                <ion-input
                  label="Enter your name"
                  labelPlacement="stacked"
                  type="text"
                  placeholder="Your name"
                  [(ngModel)]="recuperaPass"
                ></ion-input>
              </ion-item>
            </ion-content>
          </ng-template>
        </ion-modal>-->
      </div>
      <div class="contenedor-registro">
        <ion-button shape="round" expand="full" color="tertiary" (click)="goToRegister()">Crear Cuenta</ion-button>
      </div>
    </div>
    <div *ngIf="!loginPermiso">      
        <ion-toast trigger="open-toast" message="{{loginMessage}}" [duration]="3000" icon="person-outline"></ion-toast>
    </div>
</ion-content>
