
.contenedor{
  width: 450px;
  max-height: 50%;
  margin: 0 auto;
}

.imagen img{
  border-radius: 25px;  
  width: 450px;
}

.texto{ 
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end; 
  padding: 10px;
}

.texto h3{
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
}