<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <!--<ion-searchbar search-icon="search-circle" placeholder="Custom Search Icon"></ion-searchbar>-->
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="contenedor">
    <swiper-container
      [loop]="true"
      [pagination]="true"
      [slidesPerView]="1"
    >
      <swiper-slide *ngFor="let slide of event_list">
      <div class="imagen">
        <img src="{{slide.image}}" alt="imagen">
      </div>
      <div class="text">
        <h4>{{slide.name}}</h4>
      </div>
      </swiper-slide>
  </swiper-container>
  </div>
</ion-content>
<!--
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button>
        <ion-icon name="home-outline" (click)="goToIntro()"></ion-icon>
        Inicio
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="radio-outline" (click)="goToIntro()"></ion-icon>
        Eventos
      </ion-tab-button>
      <ion-tab-button >
        <ion-icon name="search" (click)="goToIntro()"></ion-icon>  
        Buscar
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
-->