<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <!--<ion-searchbar search-icon="search-circle" placeholder="Custom Search Icon"></ion-searchbar>-->
  </ion-toolbar>
</ion-header>

<ion-content >
 <div class="contenedor">
    <swiper-container
    [loop]="true"
    effect="coverflow"
    [slidesPerView]="1"
    [autoplay]="{delay: 2500}"
    
    >
      <swiper-slide *ngFor="let slide of event_list">
        <div class="imagen">
          <img alt="" src="{{slide.image}}"/>
        </div>
        <div class="texto">  
          <h3><strong>{{slide.name}}</strong></h3>
          <ion-button (click)="presentModal(slide)">Más Información</ion-button>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button>
        <ion-icon name="home-outline" (click)="goToIntro()"></ion-icon>
        Inicio
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="radio-outline" (click)="goToIntro()"></ion-icon>
        Eventos
      </ion-tab-button>
      <ion-tab-button >
        <ion-icon name="search" (click)="goToIntro()"></ion-icon>  
        Buscar
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
